<div class="wrapper">
    <div class="result_page page">
        <!-- bg -->
        <img class="rel bg" src="assets/images/result/bg.jpg" />
        <!-- info -->
        <div class="info-box">
            <!-- logo -->
            <div class="logo">
                <img src="assets/images/logo.png" width="100%" />
            </div>
            <!-- name -->
            <div class="name-box">
                <img src="assets/images/result/name.png" />
                <span class="label-name"></span>
            </div>
            <!-- text -->
            <div class="text">
                <img src="assets/images/result/text.png" />
            </div>
            <!-- time -->
            <div class="time-box">
                <img src="assets/images/result/time.png" />
                <span class="label-time"></span>
            </div>
            <!-- time -->
            <div class="city-box">
                <img src="assets/images/result/city.png" />
                <span class="label-city"></span>
            </div>
        </div>
    </div>
</div>