@import "../base/page";
.page-article-duliye-223 {
    .base-page;
    
    background-color: #fff;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .article-duliye-223_page {
        .rel {
            position: relative;
        }
        .license {
            text-align: center;
            img {
                display: inline-block;
                width: 94%;
            }
        }
        .back {
            padding-right: 0.8rem;
            color: #2196f3;
            font-size: 0.5rem;
            text-align: right;
        }
    }
}