@import "../base/page";

.page-home {
    .base-page;

    background-color: #020110;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .home_page {
        // width: 100%;
        // height: 100%;
        // background: url('../images/home/bg0.jpg') center center no-repeat;
        // background-size: cover;
        .rel {
            position: relative;
        }
        .centerh {
            top: 50%;
            transform: translate3d(0, -50%, 0);
        }
        .bg {
            width: 100%;
            top: 0;
            left: 0;
        }
        .form-box {
            position: absolute;
            width: 100%;
            top: 10%;
            left: 0;
            .logo {
                font-size: 0;
                line-height: 0;
            }
            .form-list {
                margin: 0.8rem auto 0;
                width: 71.6%;
                .input-box {
                    margin: 0.33rem auto;
                    width: 100%;
                    height: 0.84rem;
                    background-image: url(../images/home/formSprite.png);
                    background-repeat: no-repeat;
                    background-position: 50% 5%;
                    background-size: 100% auto;
                    input::-webkit-input-placeholder{
                        color: #ab9567;
                    }
                    input::-moz-placeholder{   /* Mozilla Firefox 19+ */
                        color: #ab9567;
                    }
                    input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                        color: #ab9567;
                    }
                    input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
                        color: #ab9567;
                    }
                    input {
                        position: absolute;
                        width: 50%;
                        height: 80%;
                        top: 52%;
                        left: 38%;
                        font-size: 0.34rem;
                        line-height: 0.44rem;
                        color: #ab9567;
                        background: transparent;
                        border: none;
                        outline: none;
                    }
                }
                .input-box::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 54%;
                    left: 5%;
                    transform: translate3d(0, -50%, 0);
                }
                .userName::before {
                    width: 2rem;
                    height: 0.4rem;
                    background-image: url(../images/home/formSprite.png);
                    background-repeat: no-repeat;
                    background-position: 0% 48%;
                    background-size: 352%;
                }
                .userPhone::before {
                    width: 2rem;
                    height: 0.4rem;
                    background-image: url(../images/home/formSprite.png);
                    background-repeat: no-repeat;
                    background-position: 42% 48%;
                    background-size: 352%;
                }
                .userCode::before {
                    width: 2rem;
                    height: 0.4rem;
                    background-image: url(../images/home/formSprite.png);
                    background-repeat: no-repeat;
                    background-position: 85% 48%;
                    background-size: 350%;
                }
                .send {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 4.5%;
                    transform: translate3d(0, -50%, 0);
                    z-index: 1;
                    width: 1.6rem;
                    height: 0.4rem;
                    color: #ab9567;
                    background-image: url(../images/home/formSprite.png);
                    background-repeat: no-repeat;
                    background-position: 82% 88%;
                    background-size: 452%;
                }
                .seconds {
                    display: none;
                    position: absolute;
                    width: 1.6rem;
                    height: 0.6rem;
                    top: 50%;
                    right: 4.5%;
                    transform: translate3d(0, -50%, 0);
                    font-size: 0.4rem;
                    font-style: normal;
                    color: #ab9567;
                    text-align: center;
                    line-height: 0.64rem;
                    z-index: 1;
                }
                select {
                    position: absolute;
                    width: 50%;
                    height: 80%;
                    top: 48%;
                    left: 38%;
                    font-size: 0.34rem;
                    color: #ab9567;
                    background: transparent;
                    outline: none;
                    border: none;
                }
                .userCity::before {
                    width: 2rem;
                    height: 0.4rem;
                    background-image: url(../images/home/formSprite.png);
                    background-repeat: no-repeat;
                    background-position: 0% 90%;
                    background-size: 352%;
                }
                .userCity {
                    .userCityVal {
                        width: 60%;
                    }
                }
                .userTime::before {
                    width: 2rem;
                    height: 0.4rem;
                    background-image: url(../images/home/formSprite.png);
                    background-repeat: no-repeat;
                    background-position: 43% 90%;
                    background-size: 352%;
                }
                .userTime {
                    .userTimeVal {
                        width: 60%;
                    }
                }
            }
            .agreement {
                width: 78%;
                margin-top: 5%;
                margin-left: 11%;
                img {
                    width: 100%;
                }
                .checkbox {
                    position: absolute;
                    width: 0.54rem;
                    height: 0.68rem;
                    top: 14%;
                    left: 0;
                }
                .rules {
                    position: absolute;
                    width: 1.5rem;
                    height: 0.72rem;
                    top: 14%;
                    left: 26%;
                }
            }
            .btn-submit {
                width: 51%;
                margin-top: 3.8%;
                margin-left: 24.5%;
            }
            .license {
                line-height: 0;
                img {
                    width: 100%;
                }
                .license1 {
                    position: absolute;
                    width: 15%;
                    height: 100%;
                    top: 0;
                    left: 8%;
                }
                .license2 {
                    position: absolute;
                    width: 34.4%;
                    height: 100%;
                    top: 0;
                    left: 23%;
                }
                .license3 {
                    position: absolute;
                    width: 34%;
                    height: 100%;
                    top: 0;
                    left: 57.4%;
                }
            }
        }
        .modal {
            position: absolute;
            width: 92%;
            height: 85%;
            top: 7%;
            left: 4%;
            background: rgba(0, 0, 0, 0.87);
            z-index: 2;
            display: none;
            .close {
                line-height: 0;
                text-align: right;
                .btn-close {
                    display: inline-block;
                    width: 14%;
                }
            }
            .content {
                margin: 0 auto;
                padding: 0 0.1rem 0;
                width: 88%;
                height: 86%;
                font-family: myFont;
                color: #ab9567;
                overflow-y: scroll;
                .title {
                    font-size: 0.33rem;
                }
                p {
                    text-align: justify;
                }
                p, ol {
                    margin: 0.1rem 0;
                    font-size: 0.3rem;
                    line-height: 0.45rem;
                }
                p.divider {
                    margin-top: 0.36rem;
                }
            }
        }
    }
}
