@import "../base/page";
.page-result {
    .base-page;
    
    background-color: #020110;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .result_page {
        .rel {
            position: relative;
        }
        .bg {
            width: 100%;
            top: 0;
            left: 0;
        }
        .info-box {
            position: absolute;
            width: 100%;
            top: 10%;
            left: 0;
            color: #ab9567;
            font-family: myFont;
            .logo {
                font-size: 0;
                line-height: 0;
            }
            .name-box {
                margin-top: 10.2%;
                line-height: 0.53rem;
                text-align: center;
                img {
                    margin-right: -0.2rem;
                    width: 1.7rem;
                    vertical-align: bottom;
                }
                span {
                    font-size: 0.54rem;
                }
            }
            .text {
                margin-top: 7%;
                img {
                    width: 100%;
                }
            }
            .time-box {
                margin-top: 2.2%;
                line-height: 0.4rem;
                text-align: center;
                img {
                    display: inline-block;
                    margin-bottom: 0.02rem;
                    width: 0.9rem;
                    vertical-align: bottom;
                }
                span {
                    font-size: 0.4rem;
                }
            }
            .city-box {
                margin-top: 0;
                line-height: 0.4rem;
                text-align: center;
                img {
                    display: inline-block;
                    margin-bottom: 0.02rem;
                    width: 0.9rem;
                    vertical-align: bottom;
                }
                span {
                    font-size: 0.4rem;
                }
            }
        }
    }
}